<html lang="en"><head>
    <title>ITC Itinerary</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Paytone+One" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Kranky|Montserrat:100|Spirax|Syncopate" rel="stylesheet">
    <!--<script src="./bundle.js"></script>-->

    <link rel="stylesheet" href="./stylesheets/styleIti.css">
</head>
<body>

<div class="container-fluid">

    <div class="container-fluid">
        <div class="container-fluid" id="head" align="middle"><b>Itinerary</b></div>
        <div class="row">
            <div class="col-sm-4" style="padding : 58px 0 0 0;">
                <!--<div class="container-fluid techloopHead" align="middle">Techloop</div>-->
<<<<<<< HEAD
                <div class="ListHead tech1" align="middle"></div>   
=======
                <div class="ListHead" align="middle"></div>
>>>>>>> 5fff125633d7551c76aed5a0febfcc2cd08fef11
                <div class="row col" align="middle">
                    <div class="container-fluid date" id="day1" align="middle">Day 1 / 3rd August</div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="card blue-grey darken-1">
                            <div class="row r0">
                                <div class="card-content" align="left">
                                    <div class="time">8:30 - 10:15</div><br>
                                    <div class="content">Arrival of Dignitaries<br>Delegate Registration</div>
                                </div>
                                <div class="space"></div>
                                <div class="itiIcon" align="right"><img src="./images/Icons/1.png" class="img-responsive timelineIcon" id="tag"></div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="card blue-grey darken-1">
                            <div class="row r0">
                                <div class="card-content" align="left">
                                    <div class="time">10:15 - 10:30</div><br>
                                    <div class="content">Tea Break</div>
                                </div>
                                <div class="space"></div>
                                <div class="itiIcon" align="right"><img src="./images/Icons/Tea.png" class="img-responsive timelineIcon" id="tag"></div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <div class="card blue-grey darken-1">
                            <div class="row r0">
                                <div class="card-content" align="left">
                                    <div class="time">10:30 - 1:30</div><br>
                                    <div class="content">Techloop Session</div>
                                </div>
                                <div class="space"></div>
                                <div class="itiIcon" align="right"><img src="./images/Icons/Techloop.png" class="img-responsive timelineIcon" id="tag"></div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <div class="card blue-grey darken-1">
                            <div class="row r0">
                                <div class="card-content" align="left">
                                    <div class="time">1:30 - 2:15</div><br>
                                    <div class="content">Lunch</div>
                                </div>
                                <div class="space"></div>
                                <div class="itiIcon" align="right"><img src="./images/Icons/lunch.png" class="img-responsive timelineIcon" id="tag"></div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <div class="card blue-grey darken-1">
                            <div class="row r0">
                                <div class="card-content" align="left">
                                    <div class="time">2:30 - 4:30</div><br>
                                    <div class="content">Techloop Session</div>
                                </div>
                                <div class="space"></div>
                                <div class="itiIcon" align="right"><img src="./images/Icons/Techloop.png" class="img-responsive timelineIcon" id="tag"></div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <div class="card blue-grey darken-1">
                            <div class="row r0">
                                <div class="card-content" align="left">
                                    <div class="time">4:30 - 4:45</div><br>
                                    <div class="content">Tea Break</div>
                                </div>
                                <div class="space"></div>
                                <div class="itiIcon" align="right"><img src="./images/Icons/Tea.png" class="img-responsive timelineIcon" id="tag"></div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <div class="card blue-grey darken-1">
                            <div class="row r0">
                                <div class="card-content" align="left">
                                    <div class="time">5:00 - 7:00</div><br>
                                    <div class="content">Techloop Session</div>
                                </div>
                                <div class="space"></div>
                                <div class="itiIcon" align="right"><img src="./images/Icons/Techloop.png" class="img-responsive timelineIcon" id="tag"></div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <!--COLUMN 2-->


            <div class="col-sm-8 congress-container">
                <!--<div class="container-fluid congressHead" align="middle">Congress</div>-->
                <div class="container-fluid " align="middle"></div><br>
                <div class="row">

                    <div class="col-sm-6 cong1">
                        <div class="row" align="middle">
                            <div class="container-fluid date day2" id="day2" align="middle">Day 2 / 4th August</div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="card blue-grey darken-1">
                                    <div class="row r0">
                                        <div class="card-content" align="left">
                                            <div class="time">8:30 - 10:00</div><br>
                                            <div class="content">Opening Ceremony<br>IEEE VIT Presentation</div>
                                        </div>
                                        <div class="space"></div>
                                        <div class="itiIcon" align="right"><img src="./images/Icons/opening%20ceremony.png" class="img-responsive timelineIcon" id="tag"></div>

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <div class="card blue-grey darken-1">
                                    <div class="row r0">
                                        <div class="card-content" align="left">
                                            <div class="time">10:15 - 10:30</div><br>
                                            <div class="content">Tea Break<br></div>
                                        </div>
                                        <div class="space"></div>
                                        <div class="itiIcon" align="right"><img src="./images/Icons/Tea.png" class="img-responsive timelineIcon" id="tag"></div>

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <div class="card blue-grey darken-1">
                                    <div class="row r0">
                                        <div class="card-content" align="left">
                                            <div class="time">10:30 - 1:20</div><br>
                                            <div class="content">Speakers Panel 1</div>
                                        </div>
                                        <div class="space"></div>
                                        <div class="itiIcon" align="right"><img src="./images/Icons/panel.png" class="img-responsive timelineIcon" id="tag"></div>

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <div class="card blue-grey darken-1">
                                    <div class="row r0">
                                        <div class="card-content" align="left">
                                            <div class="time">1:30 - 2:30</div><br>
                                            <div class="content">Lunch</div>
                                        </div>
                                        <div class="space"></div>
                                        <div class="itiIcon" align="right"><img src="./images/Icons/lunch.png" class="img-responsive timelineIcon" id="tag"></div>

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <div class="card blue-grey darken-1">
                                    <div class="row r0">
                                        <div class="card-content" align="left">
                                            <div class="time">2:30 - 4:30</div><br>
                                            <div class="content">Keynote Session For Speakers</div>
                                        </div>
                                        <div class="itiIcon" align="right"><img src="./images/Icons/speakers.png" class="img-responsive timelineIcon" id="tag"></div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="card blue-grey darken-1">
                                    <div class="row r0">
                                        <div class="card-content" align="left">
                                            <div class="time">4:30 - 4:45</div><br>
                                            <div class="content">Tea Break</div>
                                        </div>
                                        <div class="space"></div>
                                        <div class="itiIcon" align="right"><img src="./images/Icons/Tea.png" class="img-responsive timelineIcon" id="tag"></div>

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <div class="card blue-grey darken-1">
                                    <div class="row r0">
                                        <div class="card-content" align="left">
                                            <div class="time">4:50 -7:00</div><br>
                                            <div class="content">Speakers Panel 2</div>
                                        </div>
                                        <div class="space"></div>
                                        <div class="itiIcon" align="right"><img src="./images/Icons/panel.png" class="img-responsive timelineIcon" id="tag"></div>

                                    </div>
                                </div>
                            </div>
                        </div>

                        
                    </div>

                    <!--COLUMN 3-->
                    <div class="col-sm-6 cong1">
                        <div class="row" align="middle">
                            <div class="container-fluid date day3" id="day3" align="middle">Day 3 / 5th August</div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="card blue-grey darken-1">
                                    <div class="row r0">
                                        <div class="card-content" align="left">
                                            <div class="time">9:00 - 10:00</div><br>
                                            <div class="content">IEEE SB<br> Presentation</div>
                                        </div>
                                        <div class="space"></div>
                                        <div class="itiIcon" align="right"><img src="./images/Icons/SB%20presentation.png" class="img-responsive timelineIcon" id="tag"></div>

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <div class="card blue-grey darken-1">
                                    <div class="row r0">
                                        <div class="card-content" align="left">
                                            <div class="time">10:15 - 10:30</div><br>
                                            <div class="content">Tea Break</div>
                                        </div>
                                        <div class="space"></div>
                                        <div class="itiIcon" align="right"><img src="./images/Icons/Tea.png" class="img-responsive timelineIcon" id="tag"></div>

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <div class="card blue-grey darken-1">
                                    <div class="row r0">
                                        <div class="card-content" align="left">
                                            <div class="time">10:30 - 1:20</div><br>
                                            <div class="content">Speakers</div>
                                        </div>
                                        <div class="space"></div>
                                        <div class="itiIcon" align="right"><img src="./images/Icons/speakers.png" class="img-responsive timelineIcon" id="tag"></div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="card blue-grey darken-1">
                                    <div class="row r0">
                                        <div class="card-content" align="left">
                                            <div class="time">1:30 - 2:30</div><br>
                                            <div class="content">Lunch</div>
                                        </div>
                                        <div class="space"></div>
                                        <div class="itiIcon" align="right"><img src="./images/Icons/lunch.png" class="img-responsive timelineIcon" id="tag"></div>

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <div class="card blue-grey darken-1">
                                    <div class="row r0">
                                        <div class="card-content" align="left">
                                            <div class="time">2:40 - 4:40</div><br>
                                            <div class="content">Speakers</div>
                                        </div>
                                        <div class="space"></div>
                                        <div class="itiIcon" align="right"><img src="./images/Icons/speakers.png" class="img-responsive timelineIcon" id="tag"></div>

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <div class="card blue-grey darken-1">
                                    <div class="row r0">
                                        <div class="card-content" align="left">
                                            <div class="time">4:45 - 5:00</div><br>
                                            <div class="content">Tea Break</div>
                                        </div>
                                        <div class="space"></div>
                                        <div class="itiIcon" align="right"><img src="./images/Icons/Tea.png" class="img-responsive timelineIcon" id="tag"></div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="card blue-grey darken-1">
                                    <div class="row r0">
                                        <div class="card-content" align="left">
                                            <div class="time">5:00 onwards</div><br>
                                            <div class="content">Memento Presentation</div>
                                        </div>
                                        <div class="space"></div>
                                        <div class="itiIcon" align="right"><img src="./images/Icons/Momento.png" class="img-responsive timelineIcon" id="tag"></div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



</div></div></div></body></html>
