<!DOCTYPE html>
<html>
<!--Sleep is a dream -->
<!--             Hemant H Kumar-->
<!---->
<!--All that matters is what comes after the run button-->
<!--             Raj Chandra-->
<head>
    <meta charset="utf-8" />
    <title>Thankyou | Techloop Congress</title>
    <link rel="icon" href="favicon.ico" type="image/ico" sizes="32x32">
    <meta name="theme-color" content="#4b7cc6" />
    <meta content="This is the official website of techloop congress conducted by IEEE VIT Chapter." name="description" />
    <meta content="Home" property="og:title" />
    <meta content="IEEE Techloop congress Official website" property="og:description" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />

    <!--Font awesome-->
    <script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl" crossorigin="anonymous"></script>


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
</head>
<body>
    <div class="header-container" style="text-align:center;padding:2em;">
        <img class="center-block img-responsive" href="/" style="width:16em;height:5em;" src="./images/mainLogo.png" >
    </div>
<div class="jumbotron text-center">
    <h1 class="display-4">Thank You!</h1>
    <p class="lead">Please wait for further instructions. We will send you an email in a day or two.</p>
    <hr class="my-4">
    <p>Having trouble? <a href="/#contact-us">Contact us</a></p>
    <a class="btn btn-primary btn-sm" href="/" onclick="window.open('', '_self', ''); window.close();" role="button">Close this Window</a>
</div>
<div class="text-center fa-sm">
    &copy; IEEE-VIT 2018. All Rights Reserved.
</div>
</body>
<script>
    function closeWindow() {
            window.open('/success', '_self', '');
            window.close();
        }
</script>
</html>