@import url('https://fonts.googleapis.com/css?family=Lato');

body{
    font-family: Lato !important;
}
.spacer {
    margin-top: 0px;
}

.row-css:last-child{
    padding-left:1em;
    padding-right:40px;
    padding-top:10px;
    padding-bottom:35px;
}

.row-css:first-child{
    padding-left:40px;
    padding-right:40px;
    padding-top:35px;
    padding-bottom:0px;
}

.row-css {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 15px;
    padding-bottom: 0px;
}

.text-area{
    padding-left:4.3em;
    padding-top:10px;
    padding-right:4.3em;
}

.labelTitle{
    font-size: 14px;
}

.normal-input{
    padding:22px;
    border:none;
}

.radio-below input[type="radio"] {
    position: relative;
    opacity: 0;
}

.radio-below input[type="radio"] + .radio-label:before {
    content: '';
    background: #f4f4f4;
    border-radius: 100%;
    border: 1px solid #b4b4b4;
    display: inline-block;
    width: 1.4em;
    height: 1.4em;
    /*position: relative;*/
    top: -0.2em;
    margin-right: 1em;
    vertical-align: top;
    cursor: pointer;
    text-align: center;
    transition: all 250ms ease;
}
.radio-below input[type="radio"]:checked + .radio-label:before {
    background-color: #3197EE;
    box-shadow: inset 0 0 0 5px #f4f4f4;
}
.radio-below input[type="radio"]:focus + .radio-label:before {
    outline: none;
    border-color: #3197EE;
}
.radio-below input[type="radio"]:disabled + .radio-label:before {
    box-shadow: inset 0 0 0 4px #f4f4f4;
    border-color: #b4b4b4;
    background: #b4b4b4;
}
.radio-below input[type="radio"] + .radio-label:empty:before {
    margin-right: 0;
}

.radio input[type="radio"] {
    position: absolute;
    opacity: 0;
}
.radio input[type="radio"] + .radio-label:before {
    content: '';
    background: #f4f4f4;
    border-radius: 100%;
    border: 1px solid #b4b4b4;
    display: inline-block;
    width: 1.4em;
    height: 1.4em;
    /*position: relative;*/
    top: -0.2em;
    margin-right: 1em;
    vertical-align: top;
    cursor: pointer;
    text-align: center;
    transition: all 250ms ease;
}
.radio input[type="radio"]:checked + .radio-label:before {
    background-color: #3197EE;
    box-shadow: inset 0 0 0 5px #f4f4f4;
}
.radio input[type="radio"]:focus + .radio-label:before {
    outline: none;
    border-color: #3197EE;
}
.radio input[type="radio"]:disabled + .radio-label:before {
    box-shadow: inset 0 0 0 4px #f4f4f4;
    border-color: #b4b4b4;
    background: #b4b4b4;
}
.radio input[type="radio"] + .radio-label:empty:before {
    margin-right: 0;
}

#ieee-details{
    position:inherit;
    padding-left: 70px;
}

#session-radio-1{
    display:block;
}

#session-radio-2{
    display:block;
}

#session-radio-3{
    display:block;
}

#session-radio-4 {
    display: block;
}

.error-message {
    color: lightcoral;
    display: inline-block;
    font-size: 12px;
    line-height: 15px;
    margin: 5px 0 0;
}

.session-message {
    color: cornflowerblue;
    display: inline-block;
    font-size: 14px;
    line-height: 15px;
    margin: 5px 0 0;
}

@media (max-width: 768px) {
    .row-css:last-child{
        padding-left:1em;
        padding-right:1em;
        padding-top:10px;
        padding-bottom:35px;
        text-align: justify;
    }

    .row-css:first-child{
        padding-left:1em;
        padding-right:1em;
        padding-top:35px;
        padding-bottom:0px;
        text-align: justify;
    }

    .row-css {
        padding-left: 1em;
        padding-right: 1em;
        padding-top: 15px;
        padding-bottom: 0px;
        text-align: justify;
    }
    .text-area{
        text-align: justify;
        padding-left:1.5em;
        padding-top:10px;
        padding-right:1.5em;
    }
    #ieee-details{
        position:inherit;
        padding-left: 20px;
    }
    .container{
        width:90%;
    }
}

